body {
    background-color: white;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    outline: none;
}

/* Header */
.header {
    color: #363636;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectors {
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.table-headers th {
    text-align: center;
}

/* Table */
div.table-responsive th.vacancy-name {
    width: 200px;
}

p.center {
    text-align: center;
}

.tableheader th {
    font-size: 20px;
    font-weight: 800;
    background-color: #eaeaea;
}

tbody td {
    font-size: 16px;
}

td p {
    text-align: center;
}
